.rst-content .section ul.bonsai li>* {
    margin-top: auto!important;
    margin-bottom: 2px!important;
}

.rst-content .section ul.bonsai li {
    margin-left: 0!important;
}

.wy-nav-content {
    max-width: 1250px;
}
