/doxygen
/.idea
/.eggs
*.egg-info
.*.swp
*.pyc
build/
dist/
_build/
doc/_build
tests/docs/basic/_build
tests/docs/autodoc/docs/_build
.tox/
.cache
.pytest_cache
.coverage
coverage.xml
.env

# Offline version file
mlx/__traceability_version__.py

# Pie chart images
doc/_images

# Custom hyperlink colors
mlx/assets/hyperlink_colors.css
