# Include Markdown files
include *.md

# Include the assets - javascript
include mlx/assets/*.js


exclude mlx/__traceability_version__.py
exclude .pylintrc

# added by check_manifest.py
include LICENSE.txt
include NOTICE
include tox.ini
include doc/.env.example
recursive-include doc *.bat
recursive-include doc *.py
recursive-include doc *.rst
recursive-include doc *.css
recursive-include doc Makefile
recursive-include tests *.py
recursive-include tests *.rst
recursive-include tests *.txt

# added by check_manifest.py
include .coveragerc

# added by check_manifest.py
include *.txt

recursive-exclude doc/_build *
