# Documentation: https://melexis.github.io/sphinx-traceability-extension/readme.html#configuration-via-env-file

PRIVATE_TOKEN = ''
API_HOST_NAME = 'your_api_host_name'
PROJECT_ID = 'your_project_id'
MERGE_REQUEST_ID = 'your_merge_request_id(s)'
ATTRIBUTE_NAME = 'attribute_name'
ATTRIBUTE_TO_STRING = 'attribute_representation'
ATTRIBUTE_VALUES = 'yes,no'
